<a href="https://colab.research.google.com/github/Zeroo2002/Zeroo2002/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
treatises = ["Arithmetica", "Conics", "Elements"]
" ".join(treatises)

'Arithmetica Conics Elements'

In [ ]:
s = '='*5
print(s)

=====

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
x = "three"
s = "{0} {1} {2}"
s = s.format("The", x, "tops")
s

'The three tops'

In [ ]:
a = "The novel '{0}' was published in {1}"
s = a.format("Hard Times", 1854)
s

"The novel 'Hard Times' was published in 1854"

In [ ]:
a = "{who} turned {age} this year"
s = a.format(who = "She", age = 18)
s

'She turned 18 this year'

In [ ]:
a = "The {who} was {0} last week"
s =a.format(12, who = "boy")
s

'The boy was 12 last week'

In [ ]:
stock = ["paper", "envelopes", "notepads", "pens", "paperclips"]
s1 = "We have {0[1]} and {0[2]} in stock".format(stock)
s1

'We have envelopes and notepads in stock'

In [ ]:
fruits = ["apples", "mangoes", "grapes", "banana"]
s2 = "We only sell {0[0]} and {0[1]} here.".format(fruits)
s2

'We only sell apples and mangoes here.'

In [ ]:
d = dict(animal = "elephant",
         weight = 12000,)
a = "The {0[animal]} weighs {0[weight]}kg".format(d)
a

'The elephant weighs 12000kg'

In [ ]:
def reverse(num):
  return num[::-1]

string = input("Enter a word: ")
reversed_string = reverse(string)
print("If reversed: ", reversed_string)

if reversed_string == string:
  print("The word is a palindrome")
else:
  print("The word is not a palindrome")

Enter a word: Again
If reversed:  niagA
The word is not a palindrome

In [ ]:
sentence = input("Enter any sentence ")

a= sentence.count("th")
th = "no of occurence of 'th' is", a


b = sentence.count("wh")
wh = "no of occurence of 'wh' is", b


c= sentence.count("ho")
ho = "no of occurence of 'ho' is", c

Option = input("Enter to know the occurence of any one 'th', 'wh' or 'ho': ")
if(Option == "th"):
  print("The occurence of 'th' is: ",th)
elif(Option == "wh"):
  print("The occurence of 'wh' is: ",wh)
else:
  print("The occurence of 'ho' is: ",ho)

Enter any sentence there was a kangaroo who lives in a dense forest who loves to hop and travel everyday
Enter to know the occurence of any one 'th', 'wh' or 'ho': th
The occurence of 'th' is:  ("no of occurence of 'th' is", 1)

In [ ]:
L1 = [1,2,3,4,[]]


print([] in L1)

True

In [ ]:
L1 = [34, 56, 12, 66, 89, 45, 27]

L1.sort()

print(L1[-2])

66