<a href="https://colab.research.google.com/github/Zeroo2002/Zeroo2002/blob/main/python1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
treatises = ["Arithmetica", "Conics", "Elements"]
" ".join(treatises)

'Arithmetica Conics Elements'

In [4]:
s = '='*5
print(s)

=====

In [9]:
x = "three"
s = "{0} {1} {2}"
s = s.format("The", x, "tops")
s

'The three tops'

In [12]:
a = "The novel '{0}' was published in {1}"
s = a.format("Hard Times", 1854)
s

"The novel 'Hard Times' was published in 1854"

In [14]:
a = "{who} turned {age} this year"
s = a.format(who = "She", age = 18)
s

'She turned 18 this year'

In [15]:
a = "The {who} was {0} last week"
s =a.format(12, who = "boy")
s

'The boy was 12 last week'

In [16]:
stock = ["paper", "envelopes", "notepads", "pens", "paperclips"]
s1 = "We have {0[1]} and {0[2]} in stock".format(stock)
s1

'We have envelopes and notepads in stock'

In [19]:
fruits = ["apples", "mangoes", "grapes", "banana"]
s2 = "We only sell {0[0]} and {0[1]} here.".format(fruits)
s2

'We only sell apples and mangoes here.'

In [18]:
d = dict(animal = "elephant",
         weight = 12000,)
a = "The {0[animal]} weighs {0[weight]}kg".format(d)
a

'The elephant weighs 12000kg'

In [42]:
string = "madam"

print(reversed(string))

<reversed object at 0x7f95bb4653c0>

In [30]:
sentence = input("Enter any sentence ")

a= sentence.count("th")
th = "no of occurence of 'th' is", a
th

b = sentence.count("wh")
wh = "no of occurence of 'wh' is", b
wh

c= sentence.count("ho")
ho = "no of occurence of 'ho' is", c
ho

Enter any sentence There was a kangaroo living in a forest and it loves to hop and travel

("no of occurence of 'wh' is", 0)